* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.todo {
  max-width: 60%;
  align-items: center;
  margin: 0 auto;
}
body {
  margin: 0;
  background-image: url(./imgs/98.webp);
  background-size: cover;
}
main {
  background-color: white;
}
.margen {
  margin-bottom: 0;
}
header {
  background: linear-gradient(90deg, #6a0dad, #8a2be2, #da70d6, #e6e6fa);
  text-align: center;
  text-transform: uppercase;
}
h1 {
  margin-top: 0;
}

.grid {
  display: grid;
}
.grid-33 {
  grid-template-columns: 33.3% 33.3% 33.3% 33.3%;
}
.grid-50 {
  grid-template-columns: 50% 50%;
}
.centrar {
  width: 50%;
  align-items: center;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.sombra {
  border-radius: 8px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tituloJuego {
  font-size: 20px;
  font-weight: bold;
}
.precioJuego {
  color: rgb(0, 195, 255);
  font-size: 35px;
  font-weight: bold;
  margin-top: -14px;
}
.textoJ {
  margin-top: 200px;
}
footer {
  background: linear-gradient(90deg, #6a0dad, #8a2be2, #da70d6, #e6e6fa);
  padding-left: 50px;
  padding-bottom: 20px;
}
